@import url("cores.css");

nav {
  background-color: black;
  padding: 15px;
}

header {
  background-color: chartreuse;
}

main {
  background-color: azure;
}

footer {
  background-color: black;
  padding: 5px;
  color: aliceblue;
}
