/* Header */
header {
  display: flex;
  justify-content: space-evenly;
  background-color: brown;
}

header div:last-child {
  width: 40%;
}

header div:first-child {
  align-items: center;
  display: flex;
}

img {
  width: 100%;
  display: flex;
}

/* Main */
.dois-filhos {
  display: flex;
  border: 3px solid black;
  background-color: rgb(222, 160, 135);
}

.dois-filhos div {
  width: 50%;
  display: flex;
}

.dois-filhos div:last-child {
  display: flex;
  align-items: center;
}

.tres-filhos {
  display: flex;
  justify-content: space-evenly;
}

.tres-filhos div {
  width: 30%;
}

.cinco-filhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-direction: column;
  height: 50vh; */
}

.cinco-filhos div {
  width: 19%;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 209, 149);
}

footer section {
  width: 28%;
}

/* Texto */
header h1 {
  font-size: 4em;
  color: aliceblue;
}

/* Links */
footer a {
  display: block;
}
